.cardContainer {
    display: flex;
    max-width: 600px;
    min-height: 250px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .img-class {
    width: 250px;
    object-fit: cover;
    height: 100%;
  }
  
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }
  
  .heading {
    margin: 0 0 8px!important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    color: #3e3e3e !important;
  }
  
  .card-content > div:first-of-type{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .span-left{
    padding-right: 5px;
    color: #f07c00;
  }

  .border{
    border-right: 2px solid #d4d4d4;
  }
  .span-right{
    padding-left: 5px;
    font-size: 12px;
    line-height: 16px;
  }

  .price-row{
    display: flex;
  }

  h4{
    margin-right: 8px !important;
    margin: 0 !important;
    color: #4caf50;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
  }

  .price-row p {
    margin: 0 !important;;
    color: #b2b2b2 !important;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
  
  .original{
    margin-left: 8px !important;
    color: #3e3e3e !important;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .discount-wrapper {
    display: inline-flex;
    align-items: start;
    position: relative;
  }
  
  .discount-label {
    background-color: #20a397;
    border-radius: 20px;
    padding: 2px 8px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  
  .card-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .valid{
    padding: 5px 8px 0 0 !important;
    width: 100%;
    margin: 5px 0 !important;
    font-size: 12px;
    line-height: 16px;
  }
  .cities{
    margin-right: 4px !important;
    float: left !important;
    position : relative !important;
    color: #3e3e3e !important;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
  .card-link {
    color: #fe5246;
    text-decoration: none;
    font-weight: 500;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  .btn {
    padding: 8px 14px;
    background-color: #fe5246;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  